In [1]:
import geemap
import ee
import geopandas as gpd
import pandas as pd

# Initialize the Earth Engine API
ee.Initialize()
# Trigger the authentication flow.
ee.Authenticate()

True

In [ ]:
# # Create a map centered at the specified coordinates
# Map = geemap.Map(center=[46.529, 6.746], zoom=6)

# # Load the MODIS Land Cover dataset
# dataset = ee.ImageCollection('MODIS/061/MCD12Q1')
# igbpLandCover = dataset.select('LC_Type1').first()  # Select the first image in the collection

# # Define visualization parameters
# igbpLandCoverVis = {
#     'min': 1.0,
#     'max': 17.0,
#     'palette': [
#         '05450a', '086a10', '54a708', '78d203', '009900', 'c6b044', 'dcd159',
#         'dade48', 'fbff13', 'b6ff05', '27ff87', 'c24f44', 'a5a5a5', 'ff6d4c',
#         '69fff8', 'f9ffa4', '1c0dff'
#     ]
# }

# # Add the IGBP Land Cover layer to the map
# Map.addLayer(igbpLandCover, igbpLandCoverVis, 'IGBP Land Cover')

# # Display the map
# Map.add_basemap('SATELLITE')  # Optional: Add a satellite basemap for context
# Map

In [2]:
import pandas as pd

# Load the CSV file
file = '/Users/ceedindia/Documents/combined_modis_data.csv'
FRP_df = pd.read_csv(file)

# Step 1: Filter the data where confidence is greater than or equal to 80
filtered_df = FRP_df[FRP_df['confidence'] >= 80]

# Step 2: Convert 'acq_date' to datetime and extract the year
filtered_df['acq_date'] = pd.to_datetime(filtered_df['acq_date'], format='%Y-%m-%d')
filtered_df['year'] = filtered_df['acq_date'].dt.year

# Step 3: Filter the data for rows from 2003 or later
filtered_2003_df = filtered_df[filtered_df['year'] >= 2003]

/var/folders/5z/fpt8svs529xd3v8ldt1pttgw0000gn/T/ipykernel_2968/755452183.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['acq_date'] = pd.to_datetime(filtered_df['acq_date'], format='%Y-%m-%d')
/var/folders/5z/fpt8svs529xd3v8ldt1pttgw0000gn/T/ipykernel_2968/755452183.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['year'] = filtered_df['acq_date'].dt.year

In [11]:
import pandas as pd

# Assuming df is your DataFrame
# Filter the DataFrame based on the provided geographical bounds
filtered_2003_df = filtered_2003_df[
    (filtered_2003_df['longitude'] >= 83.32935) & 
    (filtered_2003_df['longitude'] <= 87.96283) & 
    (filtered_2003_df['latitude'] >= 21.97013) & 
    (filtered_2003_df['latitude'] <= 25.34918)
]

# You can now work with filtered_df, which only contains data within the specified bounds
filtered_2003_df

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type,Unnamed: 0,year
8145990,22.8007,86.2170,313.3,1.0,1.0,2003-01-10,2003.0,Aqua,MODIS,87.0,6.20,282.7,15.3,N,2.0,NaN,2003
8145992,22.8022,86.2074,322.4,1.0,1.0,2003-01-10,2003.0,Aqua,MODIS,100.0,6.20,283.2,23.5,N,0.0,NaN,2003
8147224,23.0271,84.9936,342.2,1.0,1.0,2003-01-21,736.0,Aqua,MODIS,91.0,6.20,302.7,40.5,D,0.0,NaN,2003
8148331,22.3476,87.2129,334.4,1.2,1.1,2003-02-01,717.0,Aqua,MODIS,86.0,6.20,300.8,35.5,D,0.0,NaN,2003
8148381,22.7946,86.2171,314.0,1.1,1.0,2003-02-02,2009.0,Aqua,MODIS,88.0,6.20,288.5,15.9,N,2.0,NaN,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98807750,22.0424,83.7360,310.8,1.0,1.0,2023-12-18,2037.0,Aqua,MODIS,81.0,61.03,286.7,13.1,N,0.0,NaN,2023
98808063,22.0413,83.7333,323.5,1.0,1.0,2023-12-20,813.0,Aqua,MODIS,81.0,61.03,303.2,17.9,D,0.0,NaN,2023
98808113,25.1555,84.1129,320.4,1.1,1.0,2023-12-20,814.0,Aqua,MODIS,80.0,61.03,294.8,15.4,D,0.0,NaN,2023
98809595,22.0419,83.7368,310.6,1.0,1.0,2023-12-27,1612.0,Terra,MODIS,80.0,61.03,291.8,11.7,N,0.0,NaN,2023
98809927,23.6860,86.0923,310.7,1.0,1.0,2023-12-29,1556.0,Terra,MODIS,81.0,61.03,289.4,11.6,N,2.0,NaN,2023

In [12]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

# Create a new GeoDataFrame
# Assuming 'latitude' and 'longitude' are the column names, replace if different
geometry = [Point(xy) for xy in zip(filtered_2003_df['longitude'], filtered_2003_df['latitude'])]
geo_df = gpd.GeoDataFrame(filtered_2003_df, geometry=geometry)

# Set the coordinate reference system (CRS) for the shapefile
# For lat/long data, WGS84 is typically used, which corresponds to EPSG:4326
geo_df.set_crs(epsg=4326, inplace=True)

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type,Unnamed: 0,year,geometry
8145990,22.8007,86.2170,313.3,1.0,1.0,2003-01-10,2003.0,Aqua,MODIS,87.0,6.20,282.7,15.3,N,2.0,NaN,2003,POINT (86.217 22.8007)
8145992,22.8022,86.2074,322.4,1.0,1.0,2003-01-10,2003.0,Aqua,MODIS,100.0,6.20,283.2,23.5,N,0.0,NaN,2003,POINT (86.2074 22.8022)
8147224,23.0271,84.9936,342.2,1.0,1.0,2003-01-21,736.0,Aqua,MODIS,91.0,6.20,302.7,40.5,D,0.0,NaN,2003,POINT (84.9936 23.0271)
8148331,22.3476,87.2129,334.4,1.2,1.1,2003-02-01,717.0,Aqua,MODIS,86.0,6.20,300.8,35.5,D,0.0,NaN,2003,POINT (87.2129 22.3476)
8148381,22.7946,86.2171,314.0,1.1,1.0,2003-02-02,2009.0,Aqua,MODIS,88.0,6.20,288.5,15.9,N,2.0,NaN,2003,POINT (86.2171 22.7946)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98807750,22.0424,83.7360,310.8,1.0,1.0,2023-12-18,2037.0,Aqua,MODIS,81.0,61.03,286.7,13.1,N,0.0,NaN,2023,POINT (83.736 22.0424)
98808063,22.0413,83.7333,323.5,1.0,1.0,2023-12-20,813.0,Aqua,MODIS,81.0,61.03,303.2,17.9,D,0.0,NaN,2023,POINT (83.7333 22.0413)
98808113,25.1555,84.1129,320.4,1.1,1.0,2023-12-20,814.0,Aqua,MODIS,80.0,61.03,294.8,15.4,D,0.0,NaN,2023,POINT (84.1129 25.1555)
98809595,22.0419,83.7368,310.6,1.0,1.0,2023-12-27,1612.0,Terra,MODIS,80.0,61.03,291.8,11.7,N,0.0,NaN,2023,POINT (83.7368 22.0419)
98809927,23.6860,86.0923,310.7,1.0,1.0,2023-12-29,1556.0,Terra,MODIS,81.0,61.03,289.4,11.6,N,2.0,NaN,2023,POINT (86.0923 23.686)

In [13]:
# Define a function to reclassify MODIS land cover data with integers
def reclassify_lulc(img):
    # Using direct integer lists for remapping
    from_classes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
    to_classes = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]
    return img.remap(from_classes, to_classes).rename('Reclassified_LULC')

# Define a function to get reclassified LULC for a specific year
def get_reclassified_lulc(year):
    dataset = ee.ImageCollection('MODIS/061/MCD12Q1').filter(ee.Filter.calendarRange(year, year, 'year')).first()
    lulc = dataset.select('LC_Type1')
    return reclassify_lulc(lulc)

# Use LULC for 2003 as a test case
lulc_year = 2003
lulc_reclassified = get_reclassified_lulc(lulc_year)

# Checking the LULC reclassified metadata
print("Reclassified LULC metadata:")
print(lulc_reclassified.getInfo())

Reclassified LULC metadata:
{'type': 'Image', 'bands': [{'id': 'Reclassified_LULC', 'data_type': {'type': 'PixelType', 'precision': 'int', 'min': 0, 'max': 1}, 'dimensions': [86400, 43200], 'crs': 'SR-ORG:6974', 'crs_transform': [463.3127165279165, 0, -20015109.354, 0, -463.3127165279167, 10007554.677003]}], 'version': 1669287211214641, 'id': 'MODIS/061/MCD12Q1/2003_01_01', 'properties': {'system:time_start': 1041379200000, 'google:max_source_file_timestamp': 1664478139000, 'system:footprint': {'type': 'LinearRing', 'coordinates': [[-180, -90], [180, -90], [180, 90], [-180, 90], [-180, -90]]}, 'system:time_end': 1072915200000, 'system:asset_size': 1908766522, 'system:index': '2003_01_01'}}

In [14]:
import geemap

# Create an interactive map to view the data
Map = geemap.Map()
Map.addLayer(lulc_reclassified, {}, 'Reclassified LULC for 2003')
Map

Map(center=[0, 0], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=SearchDataGUI(childr…

In [15]:

# Filter fire points for the test year 2003
fire_points_year = geo_df[geo_df['year'] == 2003]
fire_points_ee = geemap.geopandas_to_ee(fire_points_year)

In [16]:
# Mask fire points with LULC areas  classified as 1
fire_on_lulc = fire_points_ee.filterBounds(lulc_reclassified.eq(1))

In [20]:
# Define the bounding box geometry for reduceToVectors
aoi = ee.Geometry.BBox(83.32935, 21.97013, 87.96283, 25.34918)

# Step 1: Convert LULC reclassified areas (where value is 1) to vector geometry within the bounding box
lulc_mask = lulc_reclassified.eq(1)
vectors = lulc_mask.reduceToVectors(
    geometryType='polygon',
    reducer=ee.Reducer.countEvery(),
    scale=500,
    maxPixels=1e8,
    geometry=aoi  # Bounding box geometry
)

# Step 2: Use the generated vector geometry to filter fire points
fire_on_lulc = fire_points_ee.filterBounds(vectors.geometry())

# Step 3: Convert the filtered EE feature collection to a GeoDataFrame for local use
fire_filtered_gdf = geemap.ee_to_gdf(fire_on_lulc)

# Check the result
fire_filtered_gdf.head()

,geometry,Unnamed: 0,acq_date,acq_time,bright_t31,brightness,confidence,daynight,frp,instrument,latitude,longitude,satellite,scan,track,type,version,year
0,POINT (86.217 22.8007),None,2003-01-10T00:00:00,2003,282.7,313.3,87,N,15.3,MODIS,22.8007,86.2170,Aqua,1.0,1.0,2,6.2,2003
1,POINT (86.2074 22.8022),None,2003-01-10T00:00:00,2003,283.2,322.4,100,N,23.5,MODIS,22.8022,86.2074,Aqua,1.0,1.0,0,6.2,2003
2,POINT (84.9936 23.0271),None,2003-01-21T00:00:00,736,302.7,342.2,91,D,40.5,MODIS,23.0271,84.9936,Aqua,1.0,1.0,0,6.2,2003
3,POINT (87.2129 22.3476),None,2003-02-01T00:00:00,717,300.8,334.4,86,D,35.5,MODIS,22.3476,87.2129,Aqua,1.2,1.1,0,6.2,2003
4,POINT (86.2171 22.7946),None,2003-02-02T00:00:00,2009,288.5,314.0,88,N,15.9,MODIS,22.7946,86.2171,Aqua,1.1,1.0,2,6.2,2003

In [21]:
# Check the result
fire_filtered_gdf.tail()

,geometry,Unnamed: 0,acq_date,acq_time,bright_t31,brightness,confidence,daynight,frp,instrument,latitude,longitude,satellite,scan,track,type,version,year
95,POINT (83.7309 22.0574),None,2003-12-02T00:00:00,1646,287.5,311.2,82,N,13.2,MODIS,22.0574,83.7309,Terra,1.0,1.0,0,6.2,2003
96,POINT (86.2151 22.8023),None,2003-12-10T00:00:00,2016,288.8,312.0,84,N,19.4,MODIS,22.8023,86.2151,Aqua,1.3,1.1,2,6.2,2003
97,POINT (83.9995 25.2178),None,2003-12-12T00:00:00,755,303.9,331.1,83,D,33.6,MODIS,25.2178,83.9995,Aqua,1.3,1.1,0,6.2,2003
98,POINT (86.2115 22.8004),None,2003-12-12T00:00:00,2003,287.1,323.5,100,N,23.4,MODIS,22.8004,86.2115,Aqua,1.0,1.0,2,6.2,2003
99,POINT (86.0971 23.6885),None,2003-12-23T00:00:00,1945,286.0,310.4,80,N,21.4,MODIS,23.6885,86.0971,Aqua,1.5,1.2,0,6.2,2003

In [23]:
import geemap
import matplotlib.pyplot as plt

# Step 1: Initialize the map
Map = geemap.Map(center=[23.5, 85.5], zoom=6)  # Centering roughly over the region of interest

# Step 2: Add the reclassified LULC image layer
Map.addLayer(lulc_reclassified, {}, 'Reclassified LULC for 2003')

# Step 3: Add the filtered fire points from the GeoDataFrame
Map.add_gdf(fire_filtered_gdf, layer_name='Fire Points', style={'color': 'red', 'radius': 4, 'fillOpacity': 0.5})

# Step 4: Display the map
Map  # This will display the interactive map in Jupyter notebooks

Map(center=[23.5, 85.5], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=SearchDataGUI(…

In [ ]:
# Step 1: Create a mask where LULC values are 1
lulc_class1_mask = lulc_reclassified.eq(1)

# Step 2: Convert this mask to vector polygons
lulc_class1_vectors = lulc_class1_mask.reduceToVectors(
    geometryType='polygon',
    reducer=ee.Reducer.countEvery(),
    scale=500,
    maxPixels=1e8
)

# Step 3: Filter fire points that fall within the LULC class 1 polygons
fire_points_on_class1 = fire_points_ee.filterBounds(lulc_class1_vectors.geometry())

# Step 4: Convert the filtered points to a GeoDataFrame for local analysis
fire_class1_filtered_gdf = geemap.ee_to_gdf(fire_points_on_class1)

# Now, you can verify if all points are within the class 1 area
fire_class1_filtered_gdf.head()